/* 
  Recipe Page - Main Stylesheet
  Status: Work in Progress / Initial Submission

  Note: Completed without Figma access (free plan).
  Spacing, typography and colors are approximated.
  Refactor planned with exact design values later.
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    /* overflow-x: hidden; */
}

img {
    width: 100%;
    display: block;
    /* height: 100px; */
}

h1,
h2 {
    font-family: 'Young Serif', sans-serif;
}

h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin: 20px 0;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    color: #7a2e1e;
}

.card {
    background: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Hero */
.hero-section {}

.hero-title {}

.hero-text {
    color: #5c5c5c;
}

/* Preparation */
.preparation {
    background-color: rgb(255, 235, 242);
    margin: 20px 0;
    padding: 10px 5px;
    border-radius: 6px;
}

.preparation-title {
    font-weight: 600;
    color: rgb(105, 24, 105);
    margin: 10px 0;
}

.preparation-list {
    padding: 0 15px;
}

.preparation-list-item {
    font-size: 10px;
    padding: 3px 0;
}

/* Ingredients */
.ingredients {
    border-bottom: 1px solid gray;
}

.ingredients-title {
    margin: 0 0 15px;
}

.ingredients-list {
    margin: 0 0 20px;
    padding: 0 15px 0;
}

.ingredients-list-item {
    font-size: 10px;
    padding: 3px 0;
}

/* Instructions */
.instructions {
    border-bottom: 1px solid gray;
}

.instructions-title {
    margin: 10px 0 15px;
}

.instructions-list {
    margin: 0 0 20px;
    padding: 0 15px 0;
}

.instructions-list-item::marker {
    color: #7a2e1e;
    font-weight: 600;
}

.instructions-list-item {
    color: #5c5c5c;
    font-size: 10px;
    padding: 3px 0;
}

.instructions-label {
    color: black;
    font-weight: 600;
}

/* Nutrition */
.nutrition {}

.nutrition-title {
    margin-top: 15px;
}

.nutrition-text {
    margin-top: 10px;
    line-height: 1.3;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.nutrition-table tr {
    border-bottom: .5px solid gray;
}

.nutrition-table tr:last-child {
    border-bottom: 0;
}

.nutrition-table td {
    padding: 0.75rem 1.5rem;
}

.nutrient-name {
    color: #5c5c5c;
}

.nutrient-value {
    color: #7a2e1e;
    font-weight: 600;
}

@media (min-width: 768px) {
    body {
        background: #e8ddd4;
        padding: 80px 0;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* min-height: 100vh; */
    }

    .card {
        max-width: 700px;
        border-radius: 16px;
        padding: 2em;
        margin: 0 auto;
    }
}