/* 
  Recipe Page - Main Stylesheet
  Status: Work in Progress / Initial Submission

  Note: Completed without Figma access (free plan).
  Spacing, typography and colors are approximated.
  Refactor planned with exact design values later.
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 0.75rem;
    /* overflow-x: hidden; */
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2 {
    font-family: 'Young Serif', sans-serif;
}

h1 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;
    margin: 20px 0;
}

h2 {
    font-size: 0.875rem;
    font-weight: 400;
    color: #7a2e1e;
}

.card {
    background: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Hero */
.hero-section {}

.hero-title {}

.hero-text {
    color: #5c5c5c;
}

/* Preparation */
.preparation {
    background-color: #FFEBF2;
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 6px;
}

.preparation-title {
    font-weight: 600;
    color: #691869;
    margin: 10px 0;
}

.preparation-list {
    padding: 0 15px;
}

.preparation-list-item::marker {
    color: #691869;
}

.preparation-list-item {
    font-size: 0.625rem;
    margin: 0 15px 0;
    padding: 5px 0 5px 15px;
}

.preparation-label {
    font-weight: 600;
}

/* Ingredients */
.ingredients {
    border-bottom: 1px solid gray;
}

.ingredients-title {
    margin: 0 0 15px;
}

.ingredients-list {
    margin: 0 0 20px;
    padding: 0 30px 0;
}

.ingredients-list-item::marker {
    color: #7a2e1e;
}

.ingredients-list-item {
    font-size: 0.625rem;
    padding: 5px 0 5px 20px;
}

/* Instructions */
.instructions {
    border-bottom: 1px solid gray;
}

.instructions-title {
    margin: 10px 0 15px;
}

.instructions-list {
    margin: 0 0 20px;
    padding: 0 30px 0;
}

.instructions-list-item::marker {
    color: #7a2e1e;
    font-weight: 600;
}

.instructions-list-item {
    color: #5c5c5c;
    font-size: 10px;
    /* padding: 3px 0; */
    padding-left: 20px;
    margin: 10px 0;
}

.instructions-label {
    color: black;
    font-weight: 600;
}

/* Nutrition */
.nutrition {}

.nutrition-title {
    margin-top: 15px;
}

.nutrition-text {
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 10px;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.nutrition-table tr {
    border-bottom: .5px solid gray;
}

.nutrition-table tr:last-child {
    border-bottom: 0;
}

.nutrition-table td {
    padding: 0.75rem 1.5rem;
}

.nutrient-name {
    color: #5c5c5c;
}

.nutrient-value {
    color: #7a2e1e;
    font-weight: 600;
}

@media (min-width: 768px) {
    body {
        font-size: 1.5rem;
        background: #e8ddd4;
        padding: 80px 0;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* min-height: 100vh; */
    }

    .card {
        max-width: 900px;
        margin: 0 auto;
        border-radius: 20px;
        padding: 2em;
    }

    img {
        border-radius: 12px;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .preparation {
        padding: 1em;
    }

    .preparation-list-item {
        font-size: 1.125rem;
    }

    .instructions-list-item {
        margin: 10px 0;
        padding-left: 20px;
    }

    .ingredients-list-item,
    .instructions-list-item,
    .nutrition-table {
        font-size: 1rem;
    }
}